/*
The following was taken from the example code provided by Professor Zimmeck
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

body {
  font-family: "Noto Sans SC", sans-serif;
}

p {
  color: blue;
}

#white-div {
  color: white;
}

.padding-color-class {
  background-color: #000000;
  color: rgb(100, 168, 200);
}

.background-image-class {
  background-image: url(https://picsum.photos/seed/picsum/400/200);
  background-repeat: no-repeat;
  color: rgb(5, 110, 10);
}

.css-box-model-class {
  border-width: 2px;
  border-style: solid;
  margin: 10px 30px 15px 25px;
  padding: 50px;
}

a:hover {
  color: rgb(101, 249, 101);
}

.navbar {
  background-color: chocolate;
}

.navbar ul {
  list-style: none;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  text-align: center;
}

.navbar li {
  width: 150 px;
  background-color: #000;
  border: 1px solid red;
  padding: 10px;
  display: inline-block;
  line-height: 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

table,
td {
  border: 1px solid gray;
}

input {
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
  border: dotted;
}


/*
Custom CSS styling for our flexbox class (for the features at the top of the page)
*/

.feature {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.feature > * {
    padding: 10px;
    align-items: stretch;
    width: 900px
}

.featureHook {
    background-color: #ca360e;
    flex-shrink: 3;
    max-width: 300px;
}

.featureImg {
    background-color: #56f0fe;
    width: 300px;
    height: auto;
}

.featureMain {
    text-align: left;
    background-color: #88f8ad;
    flex-grow: 2;
    max-width: 300px;
    word-wrap: break-word
}

@media all and (min-width: 600px) {
    .featureImg {order: 1; }
    .featureMain {order: 2;}
}

body {
    padding: 2em
}
